.main {
    max-width: 1200px;
    color: aquamarine;
    font-size: 23px;
    background-color: pink;
}


.main2 {
    max-width: 100px;
    color: aquamarine;
    font-size: 44px;
    background-color: yellow;
}

.main .child {
   float: left;
   margin: 23px 24px 0 0;
}
