.main {
    max-width: 1200px;
    color: aquamarine;
    font-size: 23px;
    background-color: pink;
    text-align : center;
    font-family :'roboto'
}


.main .child {
   float: left;
   margin: 23px 24px 0 0;
}
